.expense-cont{
    width: 100%;
}
.expense-card-cont{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.expense-no-data{
    font-size: 24px;
    color: white;
    font-weight: 700;
    text-shadow: 0.2px 0.2px 3px white;
    text-align: center;
    width: 100%;
}